<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Complex with Menu</title>
</head>
<body>
<div class="container">
    <div class="form-wrapper">
        <table class="list-table">
            <thead>
            <tr>
                <th>#</th>
                <th>NumberComplex</th>
                <th>NameDish</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="restaurantMenu : ${restaurantMenuList}">
                <td th:text="${restaurantMenu.restaurantMenuId}" th:name="id"> </td>
                <td th:text="${restaurantMenu.restaurantComplex.id}"></td>
                <td th:text="${restaurantMenu.dish.name}"></td>


<!--               <td>
                    <a th:title="Редактирование"
                       th:href="@{/restaurant/dishes/{id}(id=${dish.dishId})}"
                       th:text="${dish.name}">
                    </a>
                </td>

                <td th:text="${dish.price}">
                </td>-->
                <!--                <td class="del-cell">
                                    <a class="del-btn" th:href="@{/sokol/department/delete/{id}(id=${department.id})}"></a>
                                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>