<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Complex All</title>
</head>
<body>
<div class="container">
    <div class="form-wrapper">
        <table class="list-table">
            <thead>
            <tr>
                <th>Number of Complex</th>
                <th>Name of Restaurant</th>
            </tr>
            </thead>
            <tbody>
              <tr th:each="complex : ${complexList}">
                <td>
                    <a th:title="Редактирование"
                       th:href="@{/restaurant/complex/{complexId}/menu(complexId=${complex.id})}"
                       th:text="${complex.id}">
                    </a>
                </td>

                <td th:text="${complex.restaurant.name}">
                </td>

              </tr>
            </tbody>
            <a th:href="@{/restaurant/${restaurantId}/complex/create/}">
                Добавить
            </a>

        </table>
    </div>
</div>

</body>
</html>