<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dish Add Form</title>
</head>
<body>
      <div class="container">
            <div class="form-wrapper">
                <!--<form action="#" id="dishAddForm" th:action="@{/restaurant/dish/add}" th:object="${dish}" method="post" >-->
                    <form action="#" id="dishAddForm" th:action="@{/restaurant/dish/api/v1/dishes}" th:object="${dish}" method="post" >

                    restaurant/dish/api/v1
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">number dish</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{dishId}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Name</label>
                            <div class="col-sm-8">
                                <textarea th:field="*{name}" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Price</label>
                            <div class="col-sm-8">
                                <textarea th:field="*{price}" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-sm-3"></div>
                            <div class="col-sm-8">
                                <a href="#" onclick="document.forms['dishAddForm'].submit();" class="btn-save pull-left">SAVE</a>
                                <a th:href="@{/restaurant/dish/add}" class="btn-close pull-right">CANCEL</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
      </div>

</body>
</html>
